<div class="section">
<h2>Companies Information</h2>

<form ng-submit="$ctrl.submit()">

    <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control" ng-model='$ctrl.date'/>
    </div>

    <div class="form-group">
        <label>Title</label>
        <textarea class="form-control" ng-model="$ctrl.title" style="resize:vertical;" required></textarea>
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" ng-model="$ctrl.desc" style="resize:vertical;" required></textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-default" type="submit">Add New comment</button>
    </div>

</form>

<h3>Previous Comments</h3>
<table class="table">
    <tr ng-repeat="v in $ctrl.companyDetails.comment">
        <td class="col-sm-2">{{v.time}}:</td>
        <td style="white-space: pre-line">{{v.detail}}</td>
    </tr>
</table>

</div>


